.journaller {
    width: 100%;
    height: 100%;
}

.journaller-body {
    background-color: #d7ecff;
    margin: 1rem auto;

    width: 85%;
    height: 80%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

.grid-element {
    border: black 2px solid;
    border-radius: 1rem;
}

.grid-element.text-display {
    grid-column: span 4;
    grid-row: span 7;
}

.grid-element.question-display {
    grid-column: span 2;
    grid-row: span 7;
}

.grid-element.user-input {
    grid-column: span 5;
    grid-row: span 1;
}

.grid-element.user-input {
    grid-column: span 5;
    grid-row: span 1;

    /*border: 0;*/
}

.grid-element.save-journal-element {
    grid-column: span 1;
    grid-row: span 1;
}

.user-input {
    margin: 0;
    border-radius: 1rem;
}

.user-input-form {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

.journal-response {
    width: 78%;
    height: 95%;
    margin: 0 1rem 0 0;
    border-radius: 1rem;
    font-size: 2rem;
}

.journal-submit-button {
    width: 18%;
    height: 100%;
    border-radius: 1rem;
}

.save-journal-entry {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}