.dashboard {
    background-color: var(--blue-100);
    color: var(--blue-900);
    height: 100%;
}

.dashboardElement {
    border: medium solid var(--blue-900);
    width: 14.5rem;
    height: 19rem;
    margin: 0 0 2rem 2rem;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    border-radius: 1rem;
    transition: background-color 125ms ease;
    background-color: var(--blue-300);

    cursor: pointer;
}

.dashboardElement:hover {
    background-color: var(--blue-400);
}

.dashboard-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12%;
    max-height: 7rem;
}

#logo {
    margin: 0 0 0 3rem;
    font-size: 2.5rem;

    cursor: pointer;
}

#signout {
    margin-right: 4%;
    padding: 10px 10px;
    border: medium solid var(--blue-900);
    border-radius: 0.5rem;
    transition: background-color 125ms ease;
    color: var(--blue-900);
    background-color: var(--blue-300);

    cursor: pointer;
}

#signout:hover {
    background-color: var(--blue-400);
}

.entries {
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
}

#newEntry {
    border: medium dashed var(--blue-900);
    font-size: 40px;
}

.newEntryTitle {
    width: 200px;
}

.dashboardElementText {
    font-size: 20px;
}