.dashboard {
    background-color: var(--blue-100);
    color: var(--blue-900);
    height: 100%;
}

.dashboardElement {
    border: medium solid var(--blue-900);
    width: 14.5rem;
    height: 19rem;
    margin: 0 0 2rem 2rem;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    border-radius: 1rem;
    transition: background-color 125ms ease;
    background-color: var(--blue-300);

    cursor: pointer;
}

.dashboardElement:hover {
    background-color: var(--blue-400);
}

.dashboard-entries {
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
}

#newEntry {
    border: medium dashed var(--blue-900);
    font-size: 40px;
}

.dashboard .newEntryTitle {
    width: 200px;
}

.dashboard .dashboardElementText {
    font-size: 20px;
}