.landing-page {
    text-align: center;
    background-color: var(--blue-200);
    height: 100%;
    color: var(--blue-900);
}

.landing-page-nav-bar {
    height: 10vh;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.landing-page-nav-links-container {
    position: absolute;
    top: 2.5%;
    right: 3%;

    width: 13.5rem;
    display: flex;
    justify-content: space-between;
}

.landing-page-nav-links {
    height: 3.25rem;
    width: 6.25rem;
    outline: 0;
    border-radius: 0.75rem;
    border: 2px solid #0080f0;
    font-size: 1.2rem;
    cursor: pointer;
}

.landing-page-nav-login-link {
    color: #0080f0;
    background-color: var(--blue-200);
    transition: background-color 250ms ease;
}

.landing-page-nav-login-link:hover {
    background-color: var(--blue-300);
}

.landing-page-nav-signup-link {
    color: var(--blue-200);
    background-color: #0080f0;
    transition: background-color, border 250ms ease;
}

.landing-page-nav-signup-link:hover {
    background-color: #058aff;
    border: 2px solid #058aff;
}

/* HEADER */

.landing-page-header {
    width: 100%;
    height: 94vh;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-header .landing-page-title {
    margin: 0;
    font-size: 7rem;
}

.landing-page-header .landing-page-subtitle {
    background-color: #a4d4ff;
    padding: 1rem 0;
    border-radius: 2rem;
    width: 50rem;
    margin: 0 auto;
}

/* BODY */

.landing-page-body {
    background-color: var(--blue-400);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 50vh;
}

.landing-page-info-card-container {
    width: 90%;
    max-width: 75rem;
    display: flex;
    justify-content: space-between;
}

.landing-page-info-card {
    width: 30%;
}

.landing-page-info-card-header {
    font-size: 1.75rem;
}

/* ACTION BAR */

.landing-page-action-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: inherit;
}

.landing-page-action-bar .landing-page-link-container {
    display: inline-block;
    width: 10rem;
    margin: 4.25rem 0.5rem;
}

.landing-page-action-bar .landing-page-link {
    text-decoration: none;
    color: var(--blue-900);
    font-size: 1.25rem;
    font-weight: bold;
}

.landing-page-action-bar .landing-page-link:hover {
    text-decoration: underline;
}

.landing-page-logo-container {
    background-color: var(--blue-400);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#landing-page-logo {
    width: 70%;
    height: auto;
    margin: 0;
}