.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-100);
}

.login-box {
    width: 50%;
    padding: 0;
    border: 2px solid var(--blue-900);
    color: var(--blue-100);
    border-radius: 10%;
    max-width: 500px;
    text-align: center;
    background-color: var(--blue-900);
}

.title {
    font-size: 3.5rem;
    margin: 1rem auto 2.5rem auto;
}

.link {
    text-decoration: none;
    /*color: var(--blue-900);*/
    color: var(--blue-100);
    transition: color ease 250ms;
}

.link:hover {
    color: var(--blue-400);
}

.login-form {
    width: 50%;
    margin: 0 auto;
}

.text-box {
    margin:0.9rem;
}

.text-box input {
    width: 100%;
    height: 1.75rem;
    border-radius: .5rem;
    border: var(--blue-400) 2px solid;
    font-size: 1.5rem;
    background-color: var(--blue-200);
}

.text-box input:focus {
    background-color: #c9e6ff;
    border: var(--blue-400) 2px solid;
}

button {
    font-size: 1.3rem;
    padding: 0.15rem;
    width: 50%;
    margin: 0 auto 1.5rem auto;
    background-color: var(--blue-200);
    border-radius: 10%;
    border: var(--blue-400) 3px solid;
    transition: color, background-color 125ms ease;
}

button:hover {
    background-color: var(--blue-400);
    color: var(--blue-900);
}

.error-text {
    color: #fa1b32;
    margin: .9rem;
    font-size: .875rem;
}

.sign-up {
    width: 45%;
    margin: 0 auto 1.5rem auto;
    text-align: left;
}

.sign-up-link {
    width: 4rem;
}