.sign-up-box {
    text-align: center;
    width: 50%;
    padding: 0;
    border: 2px solid black;
    border-radius: 10%;
}

.title {
    font-size: 3.5rem;
    margin: 3rem auto 2.5rem auto;
}

.home-link {
    text-decoration: none;
    color: black;
    transition: color ease 250ms;
}

.home-link:hover {
    color: #734922;
}

.login-form {
    width: 50%;
    margin: 0 auto;
}

.text-box {
    margin:0.75rem;
}

.text-box input {
    width: 100%;
    height: 1.75rem;
    border-radius: .5rem;
    font-size: 1.5rem;
}

button {
    font-size: 1.3rem;
    padding: 0.15rem;
    width: 50%;
    margin: 0;
    background-color: #FFFFFF;
    border-radius: 10%;
}

button:hover {
    background-color: sandybrown;
}

.error-text {
    color: #fa1b32;
    margin: .75rem;
    font-size: .875rem;
}

.sign-up {
    width: 45%;
    margin: 2rem auto;
}

.sign-up-link {
    text-align: left;
    display: block;
    text-decoration: none;
    color: black;
    width: 4rem;
}