.terms-of-service {
    width: 100%;
    /*padding: 5rem;*/
    color: var(--blue-900);
    background-color: var(--blue-200);
    padding: 6rem 0;
}

.terms-of-service-container {
    width: 50%;
    padding: 3rem;
    background-color: var(--blue-300);
    border: 2px solid var(--blue-900);
    border-radius: 1rem;
    margin: 0 auto;
}

.tos-header {
    margin: 0;
    font-size: 4rem;
    text-align: center;
}

.tos-section-header {
    font-size: 1.5rem;
    text-align: center;
}

.tos-paragraph {
    font-size: 1.1rem;
    text-indent: 1rem;
}
