body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root, #root>div {
  /*height: 100%;*/
  margin: 0;
}

.App {
  width: 100vw;
  /*min-height: 100vh;*/
}

:root {
  --blue-100: #ffffff;
  --blue-200: #f0f8ff;
  --blue-300: #d7ecff;
  --blue-400: #bde0ff;
  --blue-600: #a4d4ff;
  --blue-650: #8ecaff;
  --blue-700: #0061b5;
  --blue-900: #000205;

  --accent-200: #ff505b;
  --accent-300: #ff3643;
  --accent-400: #ff0515;
}

.noselect {
  /* From stack overflow */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}